<h1>Reviews for <%= @restaurant.name %></h1>
<ul><% @reviews.each do |review| %>
  <li><%= "#{review.content} || Rating: #{review.rating}" %> </li>
  <% end %>
</ul>

<%= link_to 'Add a new review', new_restaurant_review_path(@restaurant) %>
